.socials {
	display: flex;
	list-style-type: none;
	margin: 0 -10px;
	padding: 0;

	li {
		margin: 0 10px;
	}

	a {
		display: inline-block;
		width: 32px;
		height: 32px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: opacity .3s;

		&:hover {
			opacity: .4;
		}
	}
}
